.about {
    display: flex;
    flex: 1; /* Fill available space */
    overflow-y: auto;
    height: calc(100vh - 41px - 57px);

}

.about main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Changed from center to flex-start */
    padding-top: 80px; /* Added padding-top */
    height: auto;
    width: 100%;
}

.about section {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}



