.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  


  .change-profile-picture {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }